#device_info {
  color: #E57373;
  font-family: 'Open Sans', sans-serif;
}

#header_text {
  margin-left: 20px;
}

#options_container{
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
}
#save_logs {
  pointer-events: none;
  float: left;
  height: 150px;
  margin-right: 40%;
}
#capture_screen {
  pointer-events: none;
  margin-left: 60%;
  height: 150px;
  
}

#readme:hover{
  cursor: pointer;
}

#save_logs:hover{
  cursor: pointer;
}

#readme {
  border:none;
  outline:none;
  text-decoration:none;
  color: #7777AA;
  font-family: 'Open Sans', sans-serif;
  float: right;
  font-size: 20px;
  margin-right: 20px;
}

.image:hover {
  opacity: 1;
}

.image {
  /* backface-visibility: hidden; */
  opacity: .3;
  transition: .5s ease;
}

body {
  background-color: #FCE4EC;
  text-align: center;
}

h2, p {
  font-family: 'Lora', serif;
  font-weight: bolder;
}

h2 {
  color: #E57373;
}

p {
  bottom: 20px;
  color: #7777AA;
  position: relative;
}